name: Telegram Notifier

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  notifyTelegram:
    runs-on: ubuntu-latest
    steps:
      - name: send custom message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            A push was made to the main branch in ${{ github.repository }}
            By: ${{ github.actor }}
            Commit message: ${{ github.event.head_commit.message }}
            Commit link: [GitHub Commit](https://github.com/${{ github.repository }}/commit/${{ github.sha }})
